<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <a class="" href="/malcom" >
                       <!-- MALCOM Lock Logo -->
                       <img src="./assets/Malcolm_reflection_white.png" class="img-fluid logo-img" style="width: 11rem; height:75px;"
                       alt="">

      
                    </a>
                      <!-- <h4 class="card-title">Network Monitoring Tool</h4> -->
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body row text-justify m-2">
                    <div class="col-12 m-2">
                      <a href="https://malcolm.fyi" class="linktitle" target="_blank"  >Malcolm</a> is a powerful, easily deployable network traffic analysis tool suite for full packet capture artifacts 
                      (PCAP files) and Zeek logs and designed with the following goals in mind:
                      <div class="ml-4">
                        <ul class="pl-4">
                          <li>Easy to use </li>
                          <li>Powerful traffic analysis </li>
                          <li>Streamlined deployment </li>
                          <li>Secure communications</li>
                          <li>Permissive license</li>
                          <li>Expanding control systems visibility </li>
                        </ul>
                      </div>
                    </div>

                     
                      <div class="row btnlinksection">
                        <div class="col-12 text-center   mt-2">
                          <a  class="btn btn-primary btn-round" href="https://malcolm.fyi" target="_blank" >Official
                            Website</a>
                        </div>
                        <div class="col-12 text-center  mt-2">
                          <a  class="btn btn-primary btn-round" href="https://github.com/idaholab/Malcolm" target="_blank">Source Code
                          </a>
                        </div>
                        <div class="col-12 text-center  mt-2">
                          <a href="#"  class="btn btn-primary btn-round disabled" target="_blank" role="button"
                            aria-disabled="true">Online Version </a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar" style="background-color: white;">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/Malcolm_logoround.png" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Malcom </h6>
                      <h4 class="card-title">Monitoring Tool</h4>
                      <p class="card-description">
                        Start using this tool 
                      </p>
                      <a href="https://github.com/cisagov/cset/releases/download/v11.0.0.0/CSETStandAloneV11.exe" class="btn btn-primary btn-round">Download</a>
                  </div>
              </div>
          </div>
      </div>
        <div class="row pt-3">
          <ngb-carousel>
            <ng-template ngbSlide>
              <div class="wrapper">
                <img class="d-block w-100 img-fluid" src="./assets/cset/cset1.png" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>Installation img</h3>
                <p>step 1 </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="wrapper">
                <img class="d-block w-100 img-fluid" src="./assets/cset/cset2.png" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Installation img</h3>
                <p>step 2 </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="wrapper">
                <img class="d-block w-100 img-fluid" src="./assets/cset/cset3.png" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Installation img</h3>
                <p>step 3 </p>
              </div>
            </ng-template>
          </ngb-carousel>

        </div>
  </div>
</div>