.img-div{
  width: 150px;
  /* height: 250px; */
}
.container{
  font-size: medium;
}
.websiteTittle{
  color: #BF0A30;
  font-size: large;
}
.form1  label{
  margin-bottom: 5px;
}
.nottoolinstalled-tittle{
  color:#BF0A30;
}
.logo-img{
  width: 55%;;
}
.linktitle{
  display: contents;
}

/* last section */
.dashboard{
  background-color: #F2F3F4;
}
.mat-progress-bar .mat-progress-bar-buffer {
  background: #E4E8EB;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #BF0A30;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
.z-depth {
  box-shadow: 0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.z-depth:hover {
  box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .2s cubic-bezier(.155,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
