<div class="dashboard">
  <div class="container text-center p-5">
    <h4 class="mt-2 mb-2 websiteTittle"><strong> Dashboard Scores </strong></h4>
    <div class="row p-md-5">
      <div class="col-md-5">
        <mat-card class="z-depth" style="width:95%">
          <mat-card-title>CSET</mat-card-title>
          <mat-card-subtitle> 90 % Assessment Overall</mat-card-subtitle>
          <mat-card-content> <mat-progress-bar mode="determinate" value="90" ></mat-progress-bar></mat-card-content>
        </mat-card>
        <mat-card class="z-depth mt-4 mb-4 p-3" style="width:95%">
          <mat-card-title>Con-PCA Phishing</mat-card-title>
          <mat-card-subtitle> 90 % Report Rate</mat-card-subtitle>
          <mat-card-content> <mat-progress-bar mode="determinate" value="90"></mat-progress-bar></mat-card-content>
        </mat-card>
        <mat-card class="z-depth mt-4 mb-4 p-3" style="width:95%">
          <mat-card-title>Training Cyber-Champ</mat-card-title>
          <mat-card-content class="m-3">50 % of Cyber Champ Recommendations <br> <mat-progress-bar mode="determinate" value="50"></mat-progress-bar></mat-card-content>
          <mat-card-content class="m-3">Phishing Simulation Coordinator</mat-card-content>
          <mat-card-content class="m-3">Network Engineer dedicated to monitoring and traffic analysis</mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-7">
        <mat-card class="z-depth mb-4" style="width:95%">
          <mat-card-title>Overall Score</mat-card-title>
          <mat-card-subtitle> 90 % Assessment Overall</mat-card-subtitle>
          <mat-progress-bar class="overal" mode="determinate" value="90" ></mat-progress-bar>
        </mat-card>  
        <mat-card class="z-depth mb-4" style="width:95%">
          <mat-card-title>Malcom</mat-card-title>
          <mat-card-subtitle> 60 % Assessment Overall <br> <mat-progress-bar mode="determinate" value="90"></mat-progress-bar></mat-card-subtitle>
          <mat-card-content class="m-3">70 % of all CSET controls validated <br> <mat-progress-bar mode="determinate" value="90"></mat-progress-bar></mat-card-content>
          <mat-card-content class="m-3">40% of all Validated Questions Passing<br> <mat-progress-bar mode="determinate" value="40"></mat-progress-bar></mat-card-content>
          <mat-card-content class="m-3">3- Outdated Network Protocols (FTP,SNMP, Telnet)</mat-card-content>
          <mat-card-content class="m-3">3-  Remote Access Protocols</mat-card-content>
          <mat-card-content class="m-3">4 Critical Assets Defined and Monitored</mat-card-content>
          <mat-card-content class="m-3">Mitre Attack Framework Rules Enabled</mat-card-content>
        </mat-card>  
      </div>
     
    </div>
  </div>

</div>


<!-- OriginAL -->
<!-- <div class="dashboard">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-5">
        <mat-card tabindex="0">
          <mat-card-title>CSET</mat-card-title>
          <mat-card-subtitle> 90 % Assessment Overall</mat-card-subtitle>
          <mat-card-content> <mat-progress-bar mode="determinate" value="90" ></mat-progress-bar></mat-card-content>
        </mat-card>
        <mat-card class="mt-4 mb-4 p-3">
          <mat-card-title>Con-PCA Phishing</mat-card-title>
          <mat-card-subtitle> 90 % Report Rate</mat-card-subtitle>
          <mat-card-content> <mat-progress-bar mode="determinate" value="90"></mat-progress-bar></mat-card-content>
        </mat-card>
        <mat-card class="mt-4 mb-4 pb-3">
          <mat-card-title>Training Cyber-Champ</mat-card-title>
          <mat-card-content class="m-3">50 % of Cyber Champ Recommendations <br> <mat-progress-bar mode="determinate" value="50"></mat-progress-bar></mat-card-content>
          <mat-card-content class="m-3">Phishing Simulation Coordinator</mat-card-content>
          <mat-card-content class="m-3">Network Engineer dedicated to monitoring and traffic analysis</mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-7">
        <mat-card class="mb-4">
          <mat-card-title>Overall Score</mat-card-title>
          <mat-card-subtitle> 90 % Assessment Overall</mat-card-subtitle>
          <mat-progress-bar class="overal" mode="determinate" value="90" ></mat-progress-bar>
        </mat-card>  
        <mat-card >
          <mat-card-title>Malcom</mat-card-title>
          <mat-card-subtitle> 60 % Assessment Overall <br> <mat-progress-bar mode="determinate" value="90"></mat-progress-bar></mat-card-subtitle>
          <mat-card-content class="m-3">70 % of all CSET controls validated <br> <mat-progress-bar mode="determinate" value="90"></mat-progress-bar></mat-card-content>
          <mat-card-content class="m-3">40% of all Validated Questions Passing<br> <mat-progress-bar mode="determinate" value="40"></mat-progress-bar></mat-card-content>
          <mat-card-content class="m-3">3- Outdated Network Protocols (FTP,SNMP, Telnet)</mat-card-content>
          <mat-card-content class="m-3">3-  Remote Access Protocols</mat-card-content>
          <mat-card-content class="m-3">4 Critical Assets Defined and Monitored</mat-card-content>
          <mat-card-content class="m-3">Mitre Attack Framework Rules Enabled</mat-card-content>
        </mat-card>  
      </div>
     
    </div>
  </div>

</div>

 -->

<!-- Original scores -->
<!-- <div class="container mt-5"> -->
    <!-- <div class="row">
      <div class="col-md-6 mb-3">
        <h3 class="mt-2 mb-2 websiteTittle"><strong>Overall Score</strong></h3>  <span > 70%</span>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
      </div>
      <div class="col-md-3">
       
      </div>
      <div class="col-md-6">
        <h3 class="mt-2 mb-2 websiteTittle"><strong>CSET </strong></h3>  <span > 90% Assessment Overall</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </div>
      <div class="col-md-3">
       
      </div>
      <div class="col-md-6 mt-3">
        <h3 class="mt-2 mb-2 websiteTittle"><strong>CON-PCA </strong></h3>  <span > 90% Report Rate</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </div>
      <div class="col-md-3">
       
      </div>
    </div>
    <div class="row mt-3">
      <h3 class="mt-2 mb-2 websiteTittle"><strong>Malcom </strong></h3>  
      <div class="col-md-6">
        <div class="myChart">
          <canvas id="myChart"></canvas>
        </div>
      </div>
     <div class="col-md-3">
      <div class="myChart1">
        <canvas id="myChart1"></canvas>
      </div>
     </div>
     
    </div>
     
      
  </div> -->