
  <nav class="navbar navbar-expand-lg navbar-dark test">
    <div class="container">
      <a class="navbar-brand" href="#">
     <img src="./assets/CISA_Logo_183px.png" class="img-fluid logo-img" alt="">
</a>
<a class="navbar-brand" href="#">
  <div class="ml-2">CISA <br>Cyber + Infrastructure</div>
</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"  data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav mr-4">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/">Home</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              VM Cybersecurity
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="toolsuite">Tool Suite Installation</a></li>
              <li><a class="dropdown-item" href="scores">Scores</a></li>
           
            </ul>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
