/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
body{
  font-family: sans-serif;
 background-color:#ececec;
}
.test{

  background-color: #005288;
  color: white;
  font-weight: 600;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn.btn-outline-primary {
  color: #005288;
  border-color: #005288;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #005288;
  border-color: #005288;
}
.btn.btn-primary {
  color: white;
  background-color: #005288;
  border-color: #005288;
}
.btn.btn-outline{
  color: #005288;;
  background-color:white ;
  border-color: #005288;
}
.btn.btn-outline:hover{
  color: white;
  background-color: #005288;
  border-color: #005288;
}
.btn-primary:hover {
  color: #005288;;
  background-color:white ;
  border-color: #005288;
}
.ng-invalid.ng-touched{
  border-color: red;
}

.error-block{
  color: red;
}
/* style logos */
.fill-primary{
  fill: #005288;
}
.fill-white{
  fill: white;
}
.blockquote-footer{
    font-size: 14px;
}
.toolrow:hover{
    background-color: #F2F3F4;
}


.websiteTittle{
  color: #BF0A30;
  font-size: large;
}
/* cset, conpca cyberchamp pages styles */
.sidecards{
  height: 9rem;
}
ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper>img {
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  right: 0;
}
ngb-carousel .carousel-control-next>span{
    background-color: gray !important;
}
ngb-carousel .carousel-control-prev>span{
  background-color: gray !important;
}

.mainsection mat-card{
  height: fit-content;
}
.logocontainer :hover{
    background-color: #ececec;
}
.carousel-indicators{
  background-color: #ececec;
}
.carousel-caption{
  color: #015288;
}
.lefside-section mat-card:hover{
  background-color:  #F7F7F7;
}
.logo{
  text-decoration: none;
}

/* NEW STYLES */
.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  height: 8rem;
}
.card .card-header-danger .card-icon, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card .card-header-danger .card-text {
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}
.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: linear-gradient(60deg, #005288, #005288);
  height: 6rem;
}
.card [class*=card-header-] {
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}
.card .card-header {
  z-index: 3 !important;
}
.card [class*=card-header-], .card[class*=bg-] {
  color: #fff;
}
.card .card-header {
  border-bottom: none;
  background: transparent;
}
.card {
  font-size: 0.875rem;
}
.card-profile {
  margin-top: 30px;
  text-align: center;
}
.card {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
}
.card {
  font-size: 0.875rem;
}
mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
.mat-button.btn.btn-round, .mat-raised-button.btn.btn-round, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-round, .btn.btn-round {
  border-radius: 30px;
}

.btn.btn-primary {
  width: 12rem;
}
.card-profile .card-avatar img {
  width: 100%;
  height: auto;
}
.card-profile .card-avatar {
  max-width: 130px;
  max-height: 130px;
}
.card-profile .card-avatar {
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.con-pcaroundLogo {
  background-color: #005288;
}
ngb-carousel .wrapper>img {
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  right: 0;
}
.fill-primary {
  fill: white;
}
.fill-white {
  fill: #005288;
}
.main-panel .main-content {
  margin-top: 70px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}
.sidebar, .main-panel, .sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.test{

  background-color: #005288;
  color: white;
  font-weight: 600;
}
.nav-item{
  color: white;
}
.navbar-dark .navbar-nav .nav-link.active{
  color: white;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #C0C2C4;
}
.logo-img{
  height: 2.5rem;
}
.cisanav{
  color: #015288;
}
/* LEFT SIDE nav */
.sidebar, .main-panel, .sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.sidebar .logo {
  /* padding: 15px 0px; */
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
}
.sidebar .logo .simple-text {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 0px;
  display: inline-block;
  font-size: 18px;
  color: #3C4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
}
.caret, .sidebar a {
  transition: all 150ms ease-in;
}
.sidebar .logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(180, 180, 180, 0.3);
}
.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
}
.sidebar, .main-panel, .sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}
.sidebar .logo-img img {
  width: 35px;
  top: 16px;
  /* position: absolute; */
}
.navbar .navbar-brand {
  position: relative;
  color: inherit;
  height: 50px;
  font-size: 1.125rem;
  line-height: 30px;
  padding: 0.625rem 0;
  font-weight: 300;
  margin-left: 1rem;
}
.main-panel .navbar {
  margin-bottom: 0;
}

.navbar.navbar-transparent {
  padding-top: 10px;
}
.navbar.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
  padding-top: 25px;
}
.navbar.navbar-absolute {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
}
.navbar.fixed-top {
  border-radius: 0;
}
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}
.sidebar .logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(180, 180, 180, 0.3);
}
.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
}
.sidebar, .main-panel, .sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}
.sidebar .sidebar-wrapper .navbar-form {
  border: none;
  box-shadow: none;
}
@media (min-width: 992px){
  .nav-mobile-menu, .sidebar .navbar-form {
    display: none !important;
  }
}
.sidebar .nav li:first-child > a {
  margin: 0 15px;
}
.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3C4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
}
.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}
li.nav-item.active {
  
  background-color: #005288;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}
.sidebar .nav {
  margin-top: 20px;
  display: block;
}
.sidebar .nav li.active > a, .sidebar .nav li.active > a i {
  color: #fff;
}
.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
  margin: 10px 15px 0;
  border-radius: 3px
}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}
.sidebar .logo-img {
  width: 35px;
  display: inline-block;
}
.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: inline-block;
  font-size: 18px;
  /* color: #3C4858; */
  /* white-space: nowrap; */
  /* font-weight: 400; */
  /* line-height: 30px; */
  /* overflow: hidden; */
  text-align: center;
  display: block;
}
.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: inline-block;
  font-size: 18px;
  color: #3C4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
}
.card-icon{
  border-radius: 3px;
  background-color: #C0C2C4;
  padding: 15px;
  margin-top: -20px !important;
  margin-right: 15px;
  float: left;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
  color: white;
  /* background: linear-gradient(60deg, #ffa726, #fb8c00); */
}
.cset-card.card-icon  {
  background:linear-gradient(60deg, #005288, #005287);
}
.con-pca-card {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}
.malcom-card{
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}
.cyber-champ-card{
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
}
.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.form-control {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  border-bottom: #333333 2px linear;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 14px;
}
.btn.btn-just-icon {
  font-size: 24px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: 41px;
}

.navbar-nav .material-icons {
  color: gray;
}
.navbar .notification {
  position: absolute;
  top: 5px;
  border: 1px solid #FFF;
  right: 10px;
  font-size: 9px;
  background: #f44336;
  color: #FFFFFF;
  min-width: 20px;
  padding: 0px 5px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 19px;
  vertical-align: middle;
  display: block;
}
.btn.btn-just-icon {
  font-size: 24px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: 41px;
  background-color: #fff;
  color: #999999;
}
.searchbtn {
  border-radius: 20px !important;
}
@media (max-width: 991px){
  .sidebar, .off-canvas-sidebar nav .navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 260px;
    right: 0;
    left: auto;
    z-index: 1032;
    visibility: visible;
    background-color: #9A9A9A;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0px;
    padding-left: 0;
    transform: translate3d(260px, 0, 0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
}
@media screen and (max-width: 991px) {
  .presentation-page .section-components .components-macbook {
    max-width: 850px !important;
    max-height: 480px !important;
    margin-top: 12vh;
    left: -12px;
  }
  .presentation-page .section-components .coloured-card-img,
.presentation-page .section-components .table-img {
    display: none;
  }
  .presentation-page .section-components .social-img {
    left: 47%;
    top: 37%;
  }
  .presentation-page .section-components .pin-btn-img {
    top: 54%;
  }
  .presentation-page .section-components .share-btn-img {
    top: 12%;
  }
  .presentation-page .section-components .coloured-card-btn-img {
    top: -2%;
    left: 65%;
  }
  .presentation-page .section-content .area-img {
    max-width: 130px;
    max-height: 170px;
  }
  .presentation-page .section-content .info-img {
    max-width: 170px;
    max-height: 120px;
  }
}
@media (max-width: 991px) {
  .form-group textarea {
    padding-top: 15px;
  }

  .nav-open .menu-on-left .main-panel {
    position: static;
    position: initial;
  }

  html,
body {
    overflow-x: hidden;
  }

  .nav-open .menu-on-left .main-panel,
.nav-open .menu-on-left .wrapper-full-page,
.nav-open .menu-on-left .navbar-fixed > div {
    transform: translate3d(260px, 0, 0);
  }
  .menu-on-left .sidebar,
.menu-on-left .off-canvas-sidebar {
    left: 0;
    right: auto;
    transform: translate3d(-260px, 0, 0);
  }
  .menu-on-left .close-layer {
    left: auto;
    right: 0;
  }

  .timeline:before {
    left: 5%;
  }
  .timeline > li > .timeline-badge {
    left: 5%;
  }
  .timeline > li > .timeline-panel {
    float: right;
    width: 86%;
  }
  .timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .nav-mobile-menu .dropdown .dropdown-menu {
    display: none;
    position: static !important;
    background-color: transparent;
    width: auto;
    float: none;
    box-shadow: none;
  }
  .nav-mobile-menu .dropdown .dropdown-menu.showing {
    -webkit-animation: none 0s ease 0s 1 normal none running;
            animation: none 0s ease 0s 1 normal none running;
    -webkit-animation: initial;
            animation: initial;
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
  }
  .nav-mobile-menu .dropdown .dropdown-menu.hiding {
    transform: none;
    opacity: 1;
  }
  .nav-mobile-menu .dropdown.show .dropdown-menu {
    display: block;
  }
  .nav-mobile-menu li.active > a {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-minimize {
    display: none;
  }

  .card .form-horizontal .label-on-left,
.card .form-horizontal .label-on-right {
    padding-left: 15px;
    padding-top: 8px;
  }
  .card .form-horizontal .form-group {
    margin-top: 0px;
  }
  .card .form-horizontal .checkbox-radios {
    padding-bottom: 15px;
  }
  .card .form-horizontal .checkbox-radios .checkbox:first-child,
.card .form-horizontal .checkbox-radios .radio:first-child {
    margin-top: 0;
  }
  .card .form-horizontal .checkbox-inline {
    margin-top: 0;
  }

  .sidebar {
    display: none;
    box-shadow: none;
  }
  .sidebar .sidebar-wrapper {
    padding-bottom: 60px;
  }
  .sidebar .nav-mobile-menu {
    margin-top: 0;
  }
  .sidebar .nav-mobile-menu .notification {
    float: left;
    line-height: 30px;
    margin-right: 8px;
  }
  .sidebar .nav-mobile-menu .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .main-panel {
    width: 100%;
  }

  .navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.45);
  }

  body {
    position: relative;
  }

  .nav-open .main-panel,
.nav-open .wrapper-full-page,
.nav-open .navbar .container .navbar-toggler,
.nav-open .navbar .container .navbar-wrapper,
.nav-open .navbar .container {
    left: 0;
    transform: translate3d(-260px, 0, 0);
  }
  .nav-open .sidebar {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .nav-open .off-canvas-sidebar .navbar-collapse,
.nav-open .sidebar {
    transform: translate3d(0, 0, 0);
  }

  .wrapper-full-page,
.navbar .container .navbar-toggler,
.navbar .container .navbar-wrapper,
.navbar .container {
    transform: translate3d(0px, 0, 0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
  }

  .off-canvas-sidebar .navbar .container {
    transform: none;
  }

  .main-panel,
.navbar-collapse {
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  .navbar .navbar-collapse.collapse,
.navbar .navbar-collapse.collapse.in,
.navbar .navbar-collapse.collapsing {
    display: none !important;
  }

  .off-canvas-sidebar .navbar .navbar-collapse.collapse,
.off-canvas-sidebar .navbar .navbar-collapse.collapse.in,
.off-canvas-sidebar .navbar .navbar-collapse.collapsing {
    display: block !important;
  }

  .navbar-nav > li {
    float: none;
    position: relative;
    display: block;
  }

  .off-canvas-sidebar nav .navbar-collapse {
    margin: 0;
  }
  .off-canvas-sidebar nav .navbar-collapse > ul {
    margin-top: 19px;
  }

  .sidebar,
.off-canvas-sidebar nav .navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 260px;
    right: 0;
    left: auto;
    z-index: 1032;
    visibility: visible;
    background-color: #9A9A9A;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0px;
    padding-left: 0;
    transform: translate3d(260px, 0, 0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .sidebar > ul,
.off-canvas-sidebar nav .navbar-collapse > ul {
    position: relative;
    z-index: 4;
    width: 100%;
  }
  .sidebar::before,
.off-canvas-sidebar nav .navbar-collapse::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #282828;
    display: block;
    content: "";
    z-index: 1;
  }
  .sidebar .logo,
.off-canvas-sidebar nav .navbar-collapse .logo {
    position: relative;
    z-index: 4;
  }
  .sidebar .navbar-form,
.off-canvas-sidebar nav .navbar-collapse .navbar-form {
    margin: 10px 0px;
    float: none !important;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
  }
  .sidebar .table-responsive,
.off-canvas-sidebar nav .navbar-collapse .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }

  .form-group.form-search .form-control {
    font-size: 1.7em;
    height: 37px;
    width: 78%;
  }

  .navbar-form .btn {
    position: absolute;
    top: -5px;
    right: -50px;
  }

  .close-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: auto;
    background: rgba(0, 0, 0, 0.35);
    content: "";
    z-index: 9999;
    overflow-x: hidden;
    transition: all 370ms ease-in;
  }
  .close-layer.visible {
    opacity: 1;
  }

  .navbar-toggler .icon-bar {
    display: block;
    position: relative;
    background: #555 !important;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
  }

  .navbar-header .navbar-toggler {
    padding: 15px;
    margin-top: 4px;
    width: 40px;
    height: 40px;
  }

  .bar1,
.bar2,
.bar3 {
    outline: 1px solid transparent;
  }

  @keyframes topbar-x {
    0% {
      top: 0px;
      transform: rotate(0deg);
    }
    45% {
      top: 6px;
      transform: rotate(145deg);
    }
    75% {
      transform: rotate(130deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  @-webkit-keyframes topbar-x {
    0% {
      top: 0px;
      -webkit-transform: rotate(0deg);
    }
    45% {
      top: 6px;
      -webkit-transform: rotate(145deg);
    }
    75% {
      -webkit-transform: rotate(130deg);
    }
    100% {
      -webkit-transform: rotate(135deg);
    }
  }
  @keyframes topbar-back {
    0% {
      top: 6px;
      transform: rotate(135deg);
    }
    45% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      top: 0px;
      transform: rotate(0);
    }
  }
  @-webkit-keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg);
    }
    45% {
      -webkit-transform: rotate(-10deg);
    }
    75% {
      -webkit-transform: rotate(5deg);
    }
    100% {
      top: 0px;
      -webkit-transform: rotate(0);
    }
  }
  @keyframes bottombar-x {
    0% {
      bottom: 0px;
      transform: rotate(0deg);
    }
    45% {
      bottom: 6px;
      transform: rotate(-145deg);
    }
    75% {
      transform: rotate(-130deg);
    }
    100% {
      transform: rotate(-135deg);
    }
  }
  @-webkit-keyframes bottombar-x {
    0% {
      bottom: 0px;
      -webkit-transform: rotate(0deg);
    }
    45% {
      bottom: 6px;
      -webkit-transform: rotate(-145deg);
    }
    75% {
      -webkit-transform: rotate(-130deg);
    }
    100% {
      -webkit-transform: rotate(-135deg);
    }
  }
  @keyframes bottombar-back {
    0% {
      bottom: 6px;
      transform: rotate(-135deg);
    }
    45% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      bottom: 0px;
      transform: rotate(0);
    }
  }
  @-webkit-keyframes bottombar-back {
    0% {
      bottom: 6px;
      -webkit-transform: rotate(-135deg);
    }
    45% {
      -webkit-transform: rotate(10deg);
    }
    75% {
      -webkit-transform: rotate(-5deg);
    }
    100% {
      bottom: 0px;
      -webkit-transform: rotate(0);
    }
  }
  .navbar-toggler .icon-bar:nth-child(2) {
    top: 0px;
    -webkit-animation: topbar-back 500ms linear 0s;
    animation: topbar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .navbar-toggler .icon-bar:nth-child(3) {
    opacity: 1;
  }
  .navbar-toggler .icon-bar:nth-child(4) {
    bottom: 0px;
    -webkit-animation: bottombar-back 500ms linear 0s;
    animation: bottombar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .navbar-toggler.toggled .icon-bar:nth-child(2) {
    top: 6px;
    -webkit-animation: topbar-x 500ms linear 0s;
    animation: topbar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .navbar-toggler.toggled .icon-bar:nth-child(3) {
    opacity: 0;
  }
  .navbar-toggler.toggled .icon-bar:nth-child(4) {
    bottom: 6px;
    -webkit-animation: bottombar-x 500ms linear 0s;
    animation: bottombar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .dropdown-menu .divider {
    background-color: rgba(229, 229, 229, 0.15);
  }

  .navbar-nav {
    margin: 1px 0;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 15px 15px 5px 50px;
  }
  .navbar-nav .open .dropdown-menu > li:first-child > a {
    padding: 5px 15px 5px 50px;
  }
  .navbar-nav .open .dropdown-menu > li:last-child > a {
    padding: 15px 15px 25px 50px;
  }

  [class*=navbar-] .navbar-nav > li > a,
[class*=navbar-] .navbar-nav > li > a:hover,
[class*=navbar-] .navbar-nav > li > a:focus,
[class*=navbar-] .navbar-nav .active > a,
[class*=navbar-] .navbar-nav .active > a:hover,
[class*=navbar-] .navbar-nav .active > a:focus,
[class*=navbar-] .navbar-nav .open .dropdown-menu > li > a,
[class*=navbar-] .navbar-nav .open .dropdown-menu > li > a:hover,
[class*=navbar-] .navbar-nav .open .dropdown-menu > li > a:focus,
[class*=navbar-] .navbar-nav .navbar-nav .open .dropdown-menu > li > a:active {
    color: white;
  }
  [class*=navbar-] .navbar-nav > li > a,
[class*=navbar-] .navbar-nav > li > a:hover,
[class*=navbar-] .navbar-nav > li > a:focus,
[class*=navbar-] .navbar-nav .open .dropdown-menu > li > a,
[class*=navbar-] .navbar-nav .open .dropdown-menu > li > a:hover,
[class*=navbar-] .navbar-nav .open .dropdown-menu > li > a:focus {
    opacity: 0.7;
    background: transparent;
  }
  [class*=navbar-] .navbar-nav.navbar-nav .open .dropdown-menu > li > a:active {
    opacity: 1;
  }
  [class*=navbar-] .navbar-nav .dropdown > a:hover .caret {
    border-bottom-color: #777;
    border-top-color: #777;
  }
  [class*=navbar-] .navbar-nav .dropdown > a:active .caret {
    border-bottom-color: white;
    border-top-color: white;
  }

  .dropdown-menu {
    display: none;
  }

  .navbar-fixed-top {
    -webkit-backface-visibility: hidden;
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }

  .social-line .btn {
    margin: 0 0 10px 0;
  }

  .subscribe-line .form-control {
    margin: 0 0 10px 0;
  }

  .social-line.pull-right {
    float: none;
  }

  .footer:not(.footer-big) nav > ul li {
    float: none;
  }

  .social-area.pull-right {
    float: none !important;
  }

  .form-control + .form-control-feedback {
    margin-top: -8px;
  }

  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: transparent !important;
  }

  .media-post .author {
    width: 20%;
    float: none !important;
    display: block;
    margin: 0 auto 10px;
  }

  .media-post .media-body {
    width: 100%;
  }

  .navbar-collapse.collapse {
    height: 100% !important;
  }

  .navbar-collapse.collapse.in {
    display: block;
  }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important;
  }

  .navbar-header {
    float: none;
  }

  .navbar-collapse .nav p {
    font-size: 1rem;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .main-panel .navbar .navbar-collapse .navbar-nav .nav-item .nav-link p {
    display: none;
  }

  .nav-mobile-menu,
.sidebar .navbar-form {
    display: none !important;
  }
}